/* app css stylesheet */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#game-board-container {
	width: 500px;
	height: 500px;
}

line {
	stroke-width:2;
}